.form-horizontal{
  text-align: center;
}

.form-group{
  display: grid;
  grid-template-columns: 1fr 9fr;
  width: 100%;
  grid-column-gap: 5px;
}

.form-group label{
  grid-column: 1/2;
}

.form div{
  grid-column: 2/3;
}

#submit{
  display: inline-block;
}

.submit{
  background: black;
}

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
    padding-left:2%;
}
form div{
    display:inline-block;
    width: 90%;
}
button.btn{
    display: block;
    margin: 0 auto;
    background: #38597c;
}

label{
  width:5vw;
}

i{
  width:5vw;
}
