body{
    font-family: 'Quicksand', sans-serif;
    /* background-image: url("../images/universe.jpg");
    background-repeat: repeat;
    background-attachment:fixed; */
    line-height: normal;
    /* position: fixed; */
     /* width: 100vw; */
    /* margin-left:1vw; */
    /* margin-right:8vw; */
}



.navigation {

  display: flex;
  justify-content: center;
  box-shadow: 0 0 3rem rgba(100,200,255,.5) inset;
	background: rgba(0,0,0,.7);
  flex-flow:column wrap;
  padding:0;
  border-radius:3px;


  /* position:fixed;
  width: 100%;
  z-index: 10000; */
}



.here {
  border-radius: .5rem;
	border: 1px solid rgba(0,180,220,0.3);
	background: linear-gradient(180deg,rgba(0,180,220,0.3),rgba(0,180,220,0.1),rgba(0,180,220,0.1),rgba(0,180,220,0.3));
  box-shadow: 0 0 2rem rgba(0,180,220,.1) inset;
  opacity: 0.6;
}

/* li{
  display: block;
  color: white;
  font-weight: bold;
} */

a {
  display: block;
  padding: 1em;
  border: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;

  /* text-align:center; */
  border-top:2px solid rgba(255,255,255,.2);
  border-bottom:2px solid rgba(0,0,0,.1);
}

.skip > a{
  left: 0;
  padding: 6px;
  position: absolute;
  top: -8vh;
  height: 5vh;
  line-height: 5vh;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 100000;

  outline: 0;
  border-radius: .5rem;
  color: white;
	border: 1px solid rgba(0,180,220,0.5);
	background: black;
	box-shadow: 0 0 2rem rgba(0,180,220,.1) inset;
}

.skip > a:focus{
  top: 0px;
  background: rgba(0,0,0,.7);
}

ul,
li {
  list-style: none;
  text-align:center;
}

li {
  flex: 1;
}

h1{
  font-size: 200%;
}

h1,p{
  text-align:center;
}

img{
  height: 50vh;
}

.occupy{
    display: none;
}

:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

.box{
	/* height: 20rem; width: 40rem;  */
  color:white; padding: 1rem;
	box-shadow: 0 0 3rem rgba(100,200,255,.5) inset;
	background: rgba(0,0,0,.7);
}

.contenttabel{
	display: none;
  flex-direction: column;
	/* height: 60vh; */
  width: 20vw;
	box-shadow: 0 0 1rem rgba(0,0,0,.7);
  background: rgba(0,0,0,.5);
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.contenttabel-head{
	/* flex: 0 0 3rem;  */
  /* rgba(255,255,255,.8); */
  line-height: 3rem;
  background-color: black;
	background: linear-gradient(rgb(0,20,30), rgb(0,40,70));
	border: 2px solid rgba(0,90,120,.3);

}
.contenttabel-body{
  display: block;
  padding: 1em;
  border: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;

  /* text-align:center; */
  border-top:2px solid rgba(255,255,255,.2);
  border-bottom:2px solid rgba(0,0,0,.1);

  flex: 1 1 auto;
  line-height: 3rem;
	background: rgba(0,0,0,.5);
	border: 2px solid rgba(0,90,120,.4);
	border-top:none;
  /* justify-content: center; */
}

.contenttabel-body:hover,
.contenttabel-body:focus,
a:hover,
a:focus,
a:active {
  outline: 0;
  border-radius: .5rem;
  text-decoration: none;
  color: white;
	border: 1px solid rgba(0,180,220,0.5);
	background: linear-gradient(180deg,rgba(0,180,220,0.3),rgba(0,180,220,0.1),rgba(0,180,220,0.1),rgba(0,180,220,0.3));
	box-shadow: 0 0 2rem rgba(0,180,220,.1) inset;
}

.panel:hover{
	filter:brightness(1.2)
}

.gridcontainer{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 15px;
  width: auto;
  transition: all 0.2s;
}

.flexcontainer{
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  /* height: 200vh; */
  justify-content: space-between;
  padding:5px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}




.text{
  padding: 20px 0;
  width: 90%;
  align-self: center;
  height: 100%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease;
  margin: 5px;
  overflow: hidden;
  opacity: 0.5;
  /* width: 100%;
  height: 60%; */
}

.focused,
.text:focus,
.text:hover{
  box-shadow:  0 0 5rem rgb(0,110,150);
  /* height: 60vh; */
  border: 20px solid transparent;
	border-image: url(../images/border.png) 5%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 1;
  height: 123%;
  overflow: hidden;
  /* z-index: 999; */
}

.overview {
  margin: 0 auto;

  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background-image: url(../images/neighbors/overview.jpg);
  background-size: cover;
  background-position: 50% 0;

}

.reference{
  font-size: 150%;
  text-align: left;
}

cite { 
  font-family:"Times New Roman", Times, serif;
  font-style: italic;
}

footer{
  min-height: 60px;
  text-align: center;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}

footer p{
    color: white;
}

.out{
  transform: translateX(-100%);
}

@media all and (min-width:600px){
  .navigation{
    flex-flow: row wrap;
    /* justify-content:space-around; */
  }
  .page{
    white-space:nowrap;
  }
}
@media all and (min-width:1000px){
  /* .text > .flexcontainer > .div{
    width:30%;
  } */
  .navigation{
    flex-flow: row wrap;
    position:fixed;
    width: 100%;
    z-index: 10000;
    top:0;
    /*
    flex-flow:column wrap;
    padding:0;
    border-radius:3px; */
  }
  .navigation a{
    text-align:center;
    border-top:2px solid rgba(255,255,255,.2);
    border-bottom:2px solid rgba(0,0,0,.1);
  }

  .occupy{
      display: block;
      visibility: hidden;
  }

  .flexcontainer{
    grid-column: 1/2;
  }

  .flexcontainer > .flexcontainer{
    flex-direction: row;
  }

  .contenttabel{
    display: flex;
    grid-column: 2/3;
    /* height: 200vh; */
    padding:5px;
    position: fixed;
    right:3vw;
    top:23vh;
    z-index: 10000000;
  }


  footer{
    position: fixed;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* Your code here - set to default setting */
    transition: none; /* Your code here - set to default setting */
  }

  .skip a:focus{
    top:0;
  }
}
