table{
    border: 2px solid white !important;
    border-collapse: separate;
    border-radius: 10px;
    margin: 5% auto;
}

.rowhead{
    border-top: 2px solid white;
}

td{
    text-align: center;
    border-top: 2px solid white;
    padding: 15px;
}

.first{
    border-top: none;
}